<div id="wrapper" class="style-wrapper">
  <h2 class="s-header--2"><%- page['name'] %><%- t("overview") %></h2>
  <table class="s-table">
        <tbody>
            <tr>
                <th colspan="3" width="100%" class="r-th"><div class="r-text"><%- page['name'] %></div><img src="../img/r/<%= page.id %>.png" class="r-img" alt="<%= page.altname %>の画像"></th>
            </tr>

            <tr><th width="25%"><%- t("stats-rarity") %></th><td colspan="2"><%= page['rare'] %></td></tr>
            <tr><th width="25%"><%- t("stats-level") %></th><td colspan="2"><%= page['lv'] %></td></tr>
            <tr><th width="25%"><%- t("stats-attribute") %></th><td colspan="2"><%= page['attr'] %></td></tr>
            <tr><th width="25%"><%- t("stats-attack-attribute") %></th><td colspan="2"><%= page['atk_attr'] %></td></tr>
            <tr><th width="25%"><%- t("stats-weapon-type") %></th><td colspan="2"><%= page['equip_type'] %></td></tr>
            <tr><th width="25%"><%- t("stats-formation") %></th><td colspan="2"><%= page['position'] %> (<%- t("stats-range") %><%= page['range'] %>)</td></tr>
            <tr><th width="25%"><%- t("stats-role") %></th><td colspan="2"><%= page['role_set'] %></td></tr>
            <tr><th width="25%"><%- t("stats-action-speed") %></th><td colspan="2"><%= page['atk_speed'] %></td></tr>
            <tr><th width="25%"><%- t("stats-support") %></th><td colspan="2"><%- page['support'] %></td></tr>
            <tr><th width="25%"><%- t("stats-support-bonus") %></th><td colspan="2"><%= page['feature'] %></td></tr>


            <tr><th width="33%">HP</th><th width="33%"><%- t("stats-healing") %></th><th width="33%"><%- t("stats-hp-recovery") %></th></tr>
            <tr><td class="center"><%= page['hp'] %></td><td class="center"><%= page['healing_power'] %></td><td class="center"><%= page['end_hp_recovery'] %></td></tr>
            <tr><th><%- t("stats-physical-attack") %></th><th><%- t("stats-physical-critical") %></th><th><%- t("stats-mp-recovery") %></th></tr>
            <tr><td class="center"><%= page['atk'] %></td><td class="center"><%= page['atk_crit'] + "%" %></td><td class="center"><%= page['end_mp_recovery'] %></td></tr>
            <tr><th><%- t("stats-magic-attack") %></th><th><%- t("stats-magic-critical") %></th><th><%- t("stats-hp-drain") %></th></tr>
            <tr><td class="center"><%= page['matk'] %></td><td class="center"><%= page['matk_crit'] + "%" %></td><td class="center"><%= page['dmg_suck_hp'] %></td></tr>
            <tr><th><%- t("stats-physical-defense") %></th><th><%- t("stats-magic-defense") %></th><th><%- t("stats-mp-charge") %></th></tr>
            <tr><td class="center"><%= page['def'] %></td><td class="center"><%= page['mdef'] %></td><td class="center"><%= page['mp_recovery'] %></td></tr>
            <tr><th><%- t("stats-accuracy") %></th><th><%- t("stats-block") %></th><th><%- t("stats-mp-cost-reduction") %></th></tr>
            <tr><td class="center"><%= page['hit'] %></td><td class="center"><%= page['block'] %></td><td class="center"><%= page['mp_cost_down'] %></td></tr>
            </tbody>
        </tbody>
    </table>

    <h3 class="s-header--3"><%- t("action-timeline") %></h3>

    <% 
      const scales = page.scalecheck.map(data => data.name);
      const min = 0;
      const max = scales.length - 1;
    %>

    <div class="scale-selector-container">
      <div class="value-display-wrapper">
        <span class="label"><%- t("slider-label-action-speed") %>: </span>
        <span class="slider-value" id="current-scale-value">
          <%= scales[0] %>
        </span>
      </div>
      <input type="range" min="<%= min %>" max="<%= max %>" value="0" step="1" class="slider" id="scale-slider">
    </div>

    <div class="table-scroll">
        <div class="timeline-container">
          <div class="first-section-wrapper">
            <% const firstOrder = page['first_skill_order'].split(''); %>
            <% firstOrder.forEach((c, i) => { %>
              <% if (c === '/') { %>
                <div class="dli-arrow-wrapper">
                  <span class="dli-arrow-right"></span>
                  <span class="timeline-diff-time"></span>
                </div>
              <% } else if (c === '0') { %>
              <span class="attack-wrapper">
                <span class="attack"><%- t("timeline-icon-attack") %></span>
                <span class="time-text"></span>
              </span>
              <% } else if (c === '1') { %>
                <span class="skill-wrapper">
                  <span class="skill"><%- t("timeline-icon-skill1") %></span>
                  <span class="time-text"></span>
                </span>
              <% } else if (c === '2') { %>
                <span class="skill-wrapper">
                  <span class="skill"><%- t("timeline-icon-skill2") %></span>
                  <span class="time-text"></span>
                </span>
              <% } %>
            <% }); %>
            <div class="dli-arrow-wrapper">
              <span class="dli-arrow-right"></span>
              <span class="timeline-diff-time"></span>
            </div>
          </div>
          <div class="loop">
            <span class="loop-text">LOOP</span>
            <% const loopOrder = page['loop_skill_order'].split(''); %>
            <% loopOrder.forEach((c, i) => { %>
              <% if (c === '/') { %>
                <div class="dli-arrow-wrapper">
                  <span class="dli-arrow-right"></span>
                  <span class="timeline-diff-time"></span>
                </div>
              <% } else if (c === '0') { %>
                <span class="attack-wrapper">
                  <span class="attack"><%- t("timeline-icon-attack") %></span>
                  <span class="time-text"></span>
                </span>
              <% } else if (c === '1') { %>
                <span class="skill-wrapper">
                  <span class="skill"><%- t("timeline-icon-skill1") %></span>
                  <span class="time-text"></span>
                </span>
              <% } else if (c === '2') { %>
                <span class="skill-wrapper">
                  <span class="skill"><%- t("timeline-icon-skill2") %></span>
                  <span class="time-text"></span>
                </span>
              <% } %> 
            <% }); %>
          </div>
        </div>
    </div>
    
    <h4 class="s-header--4"><%- t("supplement") %></h4>
    <p class="s-paragraph"><%- t("action-timeline-supplement-descriotion") %></p>

    <h3 class="s-header--3"><%- t("mp-increase-sim") %></h3>
    <div class="gantt-chart">
      <div class="gantt-header">
        <div class="gantt-info-header">
          <div class="row-info">
            <div class="row-label"><%- t("progress") %></div>
            <div class="row-note"><%- t("breakdown") %></div>
          </div>
        </div>
        <div class="gantt-chart-header-container">
          <div class="gantt-chart-header">
            <div class="header-label">0%</div>
            <div class="header-label">25%</div>
            <div class="header-label">50%</div>
            <div class="header-label">75%</div>
            <div class="header-label">100%</div>
            <div class="header-tick t0"></div>
            <div class="header-tick t25"></div>
            <div class="header-tick t50"></div>
            <div class="header-tick t75"></div>
            <div class="header-tick t100"></div>
          </div>
        </div>
      </div>
      <div class="gantt-rows-container">
        </div>
    </div>
    <h4 class="s-header--4"><%- t("supplement") %></h4>
    <p class="s-paragraph">
      <%- t("mp-increase-sim-notes") %>
    </p>
    <h3 class="s-header--3"><%- t("ultimate") %></h3>
    <% if (page.passive3) { %>
      <table class="s-table">
        <tbody>
          <tr><th width="100%" colspan="2"><div class="s-name"><img class="s-icon" alt="奥義アイコン" src="../img/<%= page.awake_ubskills[page.awake_ubskills.length-1].icon %>.png"><%- page.awake_ubskills[0].name %></div></th></tr>
          <% for (let i = page.awake_ubskills.length - 1; i >= 0; i--) { %>
          <tr><th width="20%">Lv.<%= i+1 %></th><td class="center"><%- page.awake_ubskills[i].text %></td></tr>
          <% } %>
        </tbody>
      </table>  
      <details>
        <summary><%- t("before-awakening-here") %></summary>
        <h4 class="s-header--4"><%- t("before-awakening-ultimate") %></h4>
    <% } %>
    <table class="s-table">
      <tbody>
        <tr><th width="100%" colspan="2"><div class="s-name"><img class="s-icon" alt="覚醒前奥義アイコン" src="../img/<%= page.ubskills[page.ubskills.length-1].icon %>.png"><%- page.ubskills[0].name %></div></th></tr>
        <% for (let i = page.ubskills.length - 1; i >= 0; i--) { %>
        <tr><th width="20%">Lv.<%= i+1 %></th><td class="center"><%- page.ubskills[i].text %></td></tr>
        <% } %>
      </tbody>
    </table>
    <% if (page.passive3) { %>
    </details>
    <% } %>

    <h3 class="s-header--3"><%- t("skills") %></h3>
    <% if (page.passive3) { %>
      <table class="s-table">
        <tbody>
          <tr><th width="100%"><div class="s-name"><img class="s-icon" alt="通常攻撃アイコン" src="../img/<%= page.atkskill.icon %>.png"><%= page.atkskill.name %></div></th></tr>
          <tr><td class="center"><%- t("prefix-freeze-time") %><%= page.atkskill.time2 %>s<br><%- t("prefix-freeze-time-critical") %><%= page.atkskill.crit_time2 %>s</td></tr>
          <tr><th><div class="s-name"><img class="s-icon" alt="スキル1アイコン" src="../img/<%= page.awake_skill1.icon %>.png"><%- page.awake_skill1.name %></div></th></tr>
          <tr><td class="center"><div class="s-name"><%- t("prefix-freeze-time") %><%=page.awake_skill1.time2 %>s</div><%- page.awake_skill1.text %></td></tr>
          <tr><th><div class="s-name"><img class="s-icon" alt="スキル2" src="../img/<%= page.awake_skill2.icon %>.png"><%- page.skill2.name %></div></th></tr>
          <tr><td class="center"><div><%- t("prefix-freeze-time") %><%=page.awake_skill2.time2 %>s</div><%- page.awake_skill2.text %></td></tr>
        </tbody>
      </table>
      <details>
        <summary><%- t("before-awakening-skills-here") %></summary>
        <h4 class="s-header--4"><%- t("before-awakening-skills") %></h4>
    <% } %>
      <table class="s-table">
        <tbody>
          <tr><th width="100%"><div class="s-name"><img class="s-icon" alt="覚醒前通常攻撃アイコン" src="../img/<%= page.atkskill.icon %>.png"><%= page.atkskill.name %></div></th></tr>
          <tr><td class="center"><%- t("prefix-freeze-time") %><%= page.atkskill.time2 %>s
            <% if (page.atkskill.time_error_msg) { %>
              <span class="time_error_msg">※<%= page.atkskill.time_error_msg %></span>
            <% } %>
            <br><%- t("prefix-freeze-time-critical") %><%= page.atkskill.crit_time2 %>s
            <% if (page.atkskill.crit_error_msg) { %>
              <span class="time_error_msg">※<%= page.atkskill.crit_error_msg %></span>
            <% } %>
          </td></tr>
          <tr><th><div class="s-name"><img class="s-icon" alt="覚醒前スキル1アイコン" src="../img/<%= page.skill1.icon %>.png"><%- page.skill1.name %></div></th></tr>
          <tr><td class="center"><div><%- t("prefix-freeze-time") %><%=page.skill1.time2 %>s
          <% if (page.skill1.time_error_msg) { %>
            <span class="time_error_msg">※<%= page.skill1.time_error_msg %></span>
          <% } %>
          </div><%- page.skill1.text %></td></tr>
          <tr><th><div class="s-name"><img class="s-icon" alt="覚醒前スキル2アイコン" src="../img/<%= page.skill2.icon %>.png"><%- page.skill2.name %></div></th></tr>
          <tr><td class="center"><div><%- t("prefix-freeze-time") %><%=page.skill2.time2 %>s
          <% if (page.skill2.time_error_msg) { %>
            <span class="time_error_msg">※<%= page.skill2.time_error_msg %></span>
          <% } %>
          </div><%- page.skill2.text %></td></tr>
        </tbody>
      </table>
    <% if (page.passive3) { %>
    </details>
    <% } %>
    <h4 class="s-header--4"><%- t("supplement") %></h4>
    <p class="s-paragraph"><%- t("passive-notes") %></p>

    <h3 class="s-header--3"><%- t("passive-skills") %></h3>
    <h4 class="s-header--4"><%- t("unlock-ultimate-level3") %></h4>
    <table class="s-table">
      <tbody>
        <tr><th width="100%"><div class="s-name"><img class="s-icon" alt="パッシブ1アイコン" src="../img/<%= page.passive1.icon %>.png"><%- page.passive1.name %></div></th></tr>
        <tr><td class="center"><%- page.passive1.text %></td></tr>
      </tbody>
    </table>
    <h4 class="s-header--4"><%- t("unlock-ultimate-level5") %></h4>
    <table class="s-table">
      <tbody>
        <tr><th width="100%"><div class="s-name"><img class="s-icon" alt="パッシブ2アイコン" src="../img/<%= page.passive2.icon %>.png"><%- page.passive2.name %></div></th></tr>
        <tr><td class="center"><%- page.passive2.text %></td></tr>
      </tbody>
    </table>
    <% if (page.passive3) { %>
    <h4 class="s-header--4"><%- t("unlocked-by-awakening") %></h4>
    <table class="s-table">
      <tbody>
          <tr><th width="100%"><div class="s-name"><img class="s-icon" alt="パッシブEXアイコン" src="../img/<%= page.passive3.icon %>.png"><%- page.passive3.name %></div></th></tr>
          <tr><td class="center"><%- page.passive3.text %></td></tr>
      </tbody>
    </table>    
    <% } %>

    <% if (page.weapon) { %>

    <h3 class="s-header--3"><%- t("exclusive-weapon") %></h3>
    <table class="s-table">
    <% const statistics_len = page.weapon.statistics.length; %>
      <tbody>
        <tr><th width="100%" colspan="<%= statistics_len %>"><div class="s-name"><img class="s-icon" alt="専用武器アイコン" src="../img/<%= page.weapon.icon %>.png"><%- page.weapon.name %> (Lv.<%= page.weapon.level %>)</div></th></tr>
        <tr><td class="center" colspan="<%= statistics_len %>"><%- page.weapon.description %></td></tr>
        <tr>
        <% 
          const statistics_split_width = (100 / statistics_len).toFixed(2) + "%";
          for (let i = 0; i < statistics_len; i++) {
        %>
          <th width="<%= statistics_split_width %>"><%= page.weapon.statistics[i] %></th>
        <% } %>
        </tr>
        <tr>
        <% 
          for (let i = 0; i < statistics_len; i++) { %>
          <td class="center"><%= page.weapon.statistics_values[i] %></td>
        <% } %>
        </tr>
        <tr><th width="100%" colspan="<%= statistics_len %>"><div class="s-name"><%- t("weapon-specific-skill") %><%- page.weapon.skill.name %></div></th></tr>
        <tr><td class="center" colspan="<%= statistics_len %>"><%- page.weapon.skill.text %></td></tr>
      </tbody>
    </table>
    
    <% } %>

    <h3 class="s-header--3"><%- t("bond-bonus") %></h3>
    <table class="s-table">
      <tbody>
        <% for (const gp_key in page.gp_text) { %>
        <tr><th width="100%" colspan="5"><%= gp_key %></th></tr>
        <tr>
          <% for (let i = 0; i < 5; i++) { %>
            <td class="center" width="20%"><div><string>【Lv.<%= i+1 %>】</string></div><div><%= page.gp_text[gp_key][i] %></div></td>
          <% } %>
        </tr>
        <tr>
          <% for (let i = 5; i < 9; i++) { %>
            <td class="center" width="20%"><div><string>【Lv.<%= i+1 %>】</string></div><div><%= page.gp_text[gp_key][i] %></div></td>
          <% } %>
          <td class="center" width="20%"><div><string>【Lv.10】</string></div><div style="color:red"><%= page.gp_text[gp_key][9] %></div></td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <h3 class="s-header--3"><%- t("notes") %></h3>
    <table class="s-table">
      <tbody>
          <tr><th width="25%"><%- t("illustrator") %></th><td><%= page['drawer'] %></td></tr>
          <tr><th width="25%"><%- t("voice-actor") %></th><td><%= page['voicer'] %></td></tr>
          <tr><th width="25%"><%- t("role") %></th><td><%= page['role_set'] %></td></tr>
          <tr><th width="25%"><%- t("skills") %></th><td><%= page['skill_set'] %></td></tr>
          <tr><th width="25%"><%- t("height") %></th><td><%= page['height'] %></td></tr>
          <tr><th width="25%"><%- t("body-type") %></th><td><%= page['measurements'] %></td></tr>
          <tr><th width="25%"><%- t("release-date") %></th><td><%= page['added_date'] %></td></tr>
          <tr><th width="25%"><%- t("how-to-get") %></th><td><%- page['obtain'].replace(/,/ig, "<br>") %></td></tr>
          <tr><th width="25%"><%- t("main-limit-break-materials") %></th><td>
            <% for (const item of page.need_items) { %>
              <img class="s-icon" alt="限界素材アイコン" src="../img/item001/<%= item %>.png">
            <% } %>
          </td></tr>
          <% if (page['bug_report']) { %>
          <tr><th width="25%"><%- t("bug-report") %></th><td><%= page['bug_report'] %></td></tr>
          <% } %>
          </tbody>
      </tbody>
  </table>
  <p class="s-paragraph"><%- t("status-note") %></p>
  <% if (page['merit']) { %>
    <h2 class="s-header--2"><%- page['name'] %><%- t("name-of-evaluation") %></h2>
    <table class="s-table rank-table">
      <tr><th class="rank-th"><%- t("evaluation") %></th></tr>
      <tr><td class="<%= page['rank_class'] %>"><span class="rank"><%= page['rank_text'] %></span><%- t("rank") %></td></tr>
    </table>
    <h3 class="s-header--3"><%- page['name'] %><%- t("merit-and-demerit") %></h3>
    <table class="s-table">
      <tr><th class="rank-th"><%- page['name'] %>の<span style="color:red"><%- t("merit") %></span></th></tr>
      <% for (const merit of page['merit']) { %>
      <tr><td><%- merit.replace(/,/ig, "<br>") %></td></tr>
      <% } %>
      <tr><th class="rank-th"><%- page['name'] %>の<span style="color:blue"><%- t("demerit") %></span></th></tr>
      <% for (const demerit of page['demerit']) { %>
        <tr><td><%- demerit.replace(/,/ig, "<br>") %></td></tr>
      <% } %>
    </table>
  <% } %>
</div>
<script>
  const scaleSlider = document.getElementById('scale-slider');
  const scaleValueDisplay = document.getElementById('current-scale-value');
  const timelineContainer = document.querySelector('.timeline-container');
  const timelineTexts = timelineContainer.querySelectorAll('.time-text, .timeline-diff-time');
  const allScaleData = <%- JSON.stringify(page.scalecheck) %>;

  updateActiveScale(allScaleData[scaleSlider.value]);

  function updateActiveScaleOne(element, newData) {
    element.textContent = newData;
  }

  function updateActiveScale(scaleData) {
    scaleValueDisplay.textContent = scaleData.name;
    timelineTexts.forEach((element, i) => updateActiveScaleOne(element, scaleData.mergedTimeline[i]));
  }

  const ganttRowsContainer = document.querySelector('.gantt-rows-container');
  const allTimelines = <%- JSON.stringify(page.mp_gantt) %>;
  
  /**
   * ガントチャートに1行のデータを追加する関数
   * @param {object} item - データのオブジェクト
   * @param {number} item.time - 発生時間 (秒)
   * @param {string} item.comment - 備考コメント
   * @param {number} item.start - 開始位置 (0-1000)
   * @param {number} item.duration - 期間 (0-1000)
   * @param {string} item.label - タスクバー内のテキスト
   */
  function addGanttRow(item) {
    const itemWrapper = document.createElement('div');
    itemWrapper.classList.add('gantt-item-wrapper');

    // 情報セクションを作成
    const infoDiv = document.createElement('div');
    infoDiv.classList.add('gantt-info');
    const rowInfo = document.createElement('div');
    rowInfo.classList.add('row-info');
    const rowLabel = document.createElement('div');
    rowLabel.classList.add('row-label');
    rowLabel.textContent = `${item.time}<%- t("sec") %>`;
    const rowNote = document.createElement('div');
    rowNote.classList.add('row-note');
    rowNote.textContent = item.comment;
    rowInfo.appendChild(rowLabel);
    rowInfo.appendChild(rowNote);
    infoDiv.appendChild(rowInfo);
    itemWrapper.appendChild(infoDiv);

    // ガントチャートバーセクションを作成
    const chartDiv = document.createElement('div');
    chartDiv.classList.add('gantt-chart-bar');
    
    // タスクバー専用の目盛りを作成
    const taskRuler = document.createElement('div');
    taskRuler.classList.add('task-ruler');
    taskRuler.innerHTML = `
      <div class="header-label">0%</div>
      <div class="header-label">25%</div>
      <div class="header-label">50%</div>
      <div class="header-label">75%</div>
      <div class="header-label">100%</div>
      <div class="header-tick t0"></div>
      <div class="header-tick t25"></div>
      <div class="header-tick t50"></div>
      <div class="header-tick t75"></div>
      <div class="header-tick t100"></div>
    `;
    chartDiv.appendChild(taskRuler);

    const taskContainer = document.createElement('div');
    taskContainer.classList.add('task-container');
    const taskBar = document.createElement('div');
    taskBar.classList.add('task-bar');
    taskBar.style.width = `${item.duration / 10}%`;
    taskBar.style.left = `${item.start / 10}%`;
    taskBar.textContent = item.label;
    if (item.label.includes('MP+')) {
      taskBar.classList.add('mp-charge');
    }
    taskContainer.appendChild(taskBar);
    chartDiv.appendChild(taskContainer);
    itemWrapper.appendChild(chartDiv);

    ganttRowsContainer.appendChild(itemWrapper);
  }

  function renderGanttChart(timelineData) {
    ganttRowsContainer.innerHTML = '';
    timelineData.forEach(item => addGanttRow(item));
  }

  function handleSliderChange() {
    const selectedTimeline = allTimelines[scaleSlider.value];
    if (selectedTimeline) {
      renderGanttChart(selectedTimeline.timeline);
    }
  }

  // Initial rendering of the chart
  handleSliderChange();

  scaleSlider.addEventListener('input', () => {
    const selectedScale = allScaleData[scaleSlider.value];
    updateActiveScale(selectedScale);
    handleSliderChange();
  });
</script>