<div id="breadcrumb">
  <div id="breadcrumb-in">
    <div><a href="<%= baseUrl %>">巨乳解体トップ</a><span class="arrow"></span></div>
    <div><a href="<%= baseUrl %>"><%= page['parent_title'] %></a><span class="arrow"></span></div>
    <div><span id="bread_now"><%- page['name'] %></span></div>
  </div>
</div>
<div id="wrapper" class="style-wrapper">
  <h2 class="s-header--2"><%- page['name'] %>の性能</h2>
  <table class="s-table">
        <tbody>
            <tr>
                <th colspan="3" width="100%" class="r-th"><div class="r-text"><%- page['name'] %></div><img src="../img/r/<%= page.id %>.png" class="r-img" alt="<%= page.altname %>の画像"></th>
            </tr>

            <tr><th width="25%">レアリティ</th><td colspan="2"><%= page['rare'] %></td></tr>
            <tr><th width="25%">レベル</th><td colspan="2"><%= page['lv'] %></td></tr>
            <tr><th width="25%">属性</th><td colspan="2"><%= page['attr'] %></td></tr>
            <tr><th width="25%">攻撃</th><td colspan="2"><%= page['atk_attr'] %></td></tr>
            <tr><th width="25%">武器</th><td colspan="2"><%= page['equip_type'] %></td></tr>
            <tr><th width="25%">隊列</th><td colspan="2"><%= page['position'] %> (射程：<%= page['range'] %>)</td></tr>
            <tr><th width="25%">役割</th><td colspan="2"><%= page['role_set'] %></td></tr>
            <tr><th width="25%">行動速度</th><td colspan="2"><%= page['atk_speed'] %></td></tr>
            <tr><th width="25%">サポート</th><td colspan="2"><%- page['support'] %></td></tr>
            <tr><th width="25%">サポートボーナス</th><td colspan="2"><%= page['feature'] %></td></tr>


            <tr><th width="33%">HP</th><th width="33%">治癒</th><th width="33%">HP回復</th></tr>
            <tr><td class="center"><%= page['hp'] %></td><td class="center"><%= page['healing_power'] %></td><td class="center"><%= page['end_hp_recovery'] %></td></tr>
            <tr><th>物理攻撃</th><th>物理クリ</th><th>MP回復</th></tr>
            <tr><td class="center"><%= page['atk'] %></td><td class="center"><%= page['atk_crit'] + "%" %></td><td class="center"><%= page['end_mp_recovery'] %></td></tr>
            <tr><th>魔法攻撃</th><th>魔法クリ</th><th>HP吸収</th></tr>
            <tr><td class="center"><%= page['matk'] %></td><td class="center"><%= page['matk_crit'] + "%" %></td><td class="center"><%= page['dmg_suck_hp'] %></td></tr>
            <tr><th>物理防御</th><th>魔法防御</th><th>MPチャージ</th></tr>
            <tr><td class="center"><%= page['def'] %></td><td class="center"><%= page['mdef'] %></td><td class="center"><%= page['mp_recovery'] %></td></tr>
            <tr><th>命中</th><th>ブロック</th><th>MP消費減少</th></tr>
            <tr><td class="center"><%= page['hit'] %></td><td class="center"><%= page['block'] %></td><td class="center"><%= page['mp_cost_down'] %></td></tr>
            </tbody>
        </tbody>
    </table>

    <h3 class="s-header--3">行動タイムライン</h3>

    <div class="table-scroll">
        <% for (let i = 0; i < page['first_skill_order'].length; i++) { %>
          <% let c = page['first_skill_order'][i]; %>
          <% if (c === '/') { %>
            <span class="dli-arrow-right"></span>
          <% } else if (c === '0') { %>
            <span class="attack">攻撃</span>
          <% } else if (c === '1') { %>
            <span class="skill">ｽｷﾙ1</span>
          <% } else if (c === '2') { %>
            <span class="skill">ｽｷﾙ2</span>
          <% } %> 
        <% } %>
        <span class="dli-arrow-right"></span>
        <div class="loop">
            <span class="loop-text">LOOP</span>
            <% for (let i = 0; i < page['loop_skill_order'].length; i++) { %>
              <% let c = page['loop_skill_order'][i]; %>
              <% if (c === '/') { %>
                <span class="dli-arrow-right"></span>
              <% } else if (c === '0') { %>
                <span class="attack">攻撃</span>
              <% } else if (c === '1') { %>
                <span class="skill">ｽｷﾙ1</span>
              <% } else if (c === '2') { %>
                <span class="skill">ｽｷﾙ2</span>
              <% } %> 
            <% } %>            
        </div>
    </div>

    <details>
      <summary>行動速度バフの硬直時間変化</summary>
    <h4 class="s-header--4">硬直時間表（仮）</h4>
    <table class="s-table freeze-table">
      <tbody>
        <tr><th width="20%">行動速度</th><th width="20%">通常攻撃</th><th width="20%">クリティカル</th><th width="20%">スキル1</th><th width="20%">スキル2</th></tr>
        <% for (const scale of page.scalecheck) { 
        %>
        <tr><td class="strong scaleval"><%= scale.name %></td><td class="scaleval"><%= scale.attack %>s</td><td class="scaleval"><%= scale.crit %>s</td><td class="scaleval"><%= scale.skill1 %>s</td><td class="scaleval"><%= scale.skill2 %>s</td></tr>
        <% } %>
      </tbody>
    </table>
  </details>

    <h3 class="s-header--3">奥義</h3>
    <% if (page.passive3) { %>
      <table class="s-table">
        <tbody>
          <tr><th width="100%" colspan="2"><div class="s-name"><img class="s-icon" alt="奥義アイコン" src="../img/<%= page.awake_ubskills[page.awake_ubskills.length-1].icon %>.png"><%- page.awake_ubskills[0].name %></div></th></tr>
          <% for (let i = page.awake_ubskills.length - 1; i >= 0; i--) { %>
          <tr><th width="20%">Lv.<%= i+1 %></th><td class="center"><%- page.awake_ubskills[i].text %></td></tr>
          <% } %>
        </tbody>
      </table>  
      <details>
        <summary>覚醒前の奥義はこちら</summary>
        <h4 class="s-header--4">覚醒前</h4>
    <% } %>
    <table class="s-table">
      <tbody>
        <tr><th width="100%" colspan="2"><div class="s-name"><img class="s-icon" alt="覚醒前奥義アイコン" src="../img/<%= page.ubskills[page.ubskills.length-1].icon %>.png"><%- page.ubskills[0].name %></div></th></tr>
        <% for (let i = page.ubskills.length - 1; i >= 0; i--) { %>
        <tr><th width="20%">Lv.<%= i+1 %></th><td class="center"><%- page.ubskills[i].text %></td></tr>
        <% } %>
      </tbody>
    </table>
    <% if (page.passive3) { %>
    </details>
    <% } %>

    <h3 class="s-header--3">スキル</h3>
    <% if (page.passive3) { %>
      <table class="s-table">
        <tbody>
          <tr><th width="100%"><div class="s-name"><img class="s-icon" alt="通常攻撃アイコン" src="../img/<%= page.atkskill.icon %>.png"><%= page.atkskill.name %></div></th></tr>
          <tr><td class="center">【硬直時間】<%= page.atkskill.time2 %>s<br>【硬直時間(クリティカル)】<%= page.atkskill.crit_time2 %>s</td></tr>
          <tr><th><div class="s-name"><img class="s-icon" alt="スキル1アイコン" src="../img/<%= page.awake_skill1.icon %>.png"><%- page.awake_skill1.name %></div></th></tr>
          <tr><td class="center"><div class="s-name">【硬直時間】<%=page.awake_skill1.time2 %>s</div><%- page.awake_skill1.text %></td></tr>
          <tr><th><div class="s-name"><img class="s-icon" alt="スキル2" src="../img/<%= page.awake_skill2.icon %>.png"><%- page.skill2.name %></div></th></tr>
          <tr><td class="center"><div>【硬直時間】<%=page.awake_skill2.time2 %>s</div><%- page.awake_skill2.text %></td></tr>
        </tbody>
      </table>
      <details>
        <summary>覚醒前のスキルはこちら</summary>
        <h4 class="s-header--4">覚醒前</h4>
    <% } %>
      <table class="s-table">
        <tbody>
          <tr><th width="100%"><div class="s-name"><img class="s-icon" alt="覚醒前通常攻撃アイコン" src="../img/<%= page.atkskill.icon %>.png"><%= page.atkskill.name %></div></th></tr>
          <tr><td class="center">【硬直時間】<%= page.atkskill.time2 %>s
            <% if (page.atkskill.time_error_msg) { %>
              <span class="time_error_msg">※<%= page.atkskill.time_error_msg %></span>
            <% } %>
            <br>【硬直時間(クリティカル)】<%= page.atkskill.crit_time2 %>s
            <% if (page.atkskill.crit_error_msg) { %>
              <span class="time_error_msg">※<%= page.atkskill.crit_error_msg %></span>
            <% } %>
          </td></tr>
          <tr><th><div class="s-name"><img class="s-icon" alt="覚醒前スキル1アイコン" src="../img/<%= page.skill1.icon %>.png"><%- page.skill1.name %></div></th></tr>
          <tr><td class="center"><div>【硬直時間】<%=page.skill1.time2 %>s
          <% if (page.skill1.time_error_msg) { %>
            <span class="time_error_msg">※<%= page.skill1.time_error_msg %></span>
          <% } %>
          </div><%- page.skill1.text %></td></tr>
          <tr><th><div class="s-name"><img class="s-icon" alt="覚醒前スキル2アイコン" src="../img/<%= page.skill2.icon %>.png"><%- page.skill2.name %></div></th></tr>
          <tr><td class="center"><div>【硬直時間】<%=page.skill2.time2 %>s
          <% if (page.skill2.time_error_msg) { %>
            <span class="time_error_msg">※<%= page.skill2.time_error_msg %></span>
          <% } %>
          </div><%- page.skill2.text %></td></tr>
        </tbody>
      </table>
    <% if (page.passive3) { %>
    </details>
    <% } %>
    <p class="s-paragraph">※硬直時間は完璧でないので参考程度に。また行動速度0%で計算しています。硬直時間/(1+行動速度)で求められます。</p>

    <h3 class="s-header--3">パッシブ</h3>
    <h4 class="s-header--4">奥義レベル3で開放</h4>
    <table class="s-table">
      <tbody>
        <tr><th width="100%"><div class="s-name"><img class="s-icon" alt="パッシブ1アイコン" src="../img/<%= page.passive1.icon %>.png"><%- page.passive1.name %></div></th></tr>
        <tr><td class="center"><%- page.passive1.text %></td></tr>
      </tbody>
    </table>
    <h4 class="s-header--4">奥義レベル5で開放</h4>
    <table class="s-table">
      <tbody>
        <tr><th width="100%"><div class="s-name"><img class="s-icon" alt="パッシブ2アイコン" src="../img/<%= page.passive2.icon %>.png"><%- page.passive2.name %></div></th></tr>
        <tr><td class="center"><%- page.passive2.text %></td></tr>
      </tbody>
    </table>
    <% if (page.passive3) { %>
    <h4 class="s-header--4">覚醒で開放</h4>
    <table class="s-table">
      <tbody>
          <tr><th width="100%"><div class="s-name"><img class="s-icon" alt="パッシブEXアイコン" src="../img/<%= page.passive3.icon %>.png"><%- page.passive3.name %></div></th></tr>
          <tr><td class="center"><%- page.passive3.text %></td></tr>
      </tbody>
    </table>    
    <% } %>
    <h3 class="s-header--3">絆ボーナス</h3>
    <table class="s-table">
      <tbody>
        <% for (const gp_key in page.gp_text) { %>
        <tr><th width="100%" colspan="5"><%= gp_key %></th></tr>
        <tr>
          <% for (let i = 0; i < 5; i++) { %>
            <td class="center" width="20%"><div><string>【Lv.<%= i+1 %>】</string></div><div><%= page.gp_text[gp_key][i] %></div></td>
          <% } %>
        </tr>
        <tr>
          <% for (let i = 5; i < 9; i++) { %>
            <td class="center" width="20%"><div><string>【Lv.<%= i+1 %>】</string></div><div><%= page.gp_text[gp_key][i] %></div></td>
          <% } %>
          <td class="center" width="20%"><div><string>【Lv.10】</string></div><div style="color:red"><%= page.gp_text[gp_key][9] %></div></td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <h3 class="s-header--3">備考</h3>
    <table class="s-table">
      <tbody>
          <tr><th width="25%">イラスト</th><td><%= page['drawer'] %></td></tr>
          <tr><th width="25%">ボイス</th><td><%= page['voicer'] %></td></tr>
          <tr><th width="25%">役割</th><td><%= page['role_set'] %></td></tr>
          <tr><th width="25%">スキル</th><td><%= page['skill_set'] %></td></tr>
          <tr><th width="25%">身長</th><td><%= page['height'] %></td></tr>
          <tr><th width="25%">体型</th><td><%= page['measurements'] %></td></tr>
          <tr><th width="25%">実装日</th><td><%= page['added_date'] %></td></tr>
          <tr><th width="25%">入手方法</th><td><%- page['obtain'].replace(/,/ig, "<br>") %></td></tr>
          <tr><th width="25%">主な限界素材</th><td>
            <% for (const item of page.need_items) { %>
              <img class="s-icon" alt="限界素材アイコン" src="../img/item001/<%= item %>.png">
            <% } %>
          </td></tr>
          <% if (page['bug_report']) { %>
          <tr><th width="25%">バグ報告</th><td><%= page['bug_report'] %></td></tr>
          <% } %>
          </tbody>
      </tbody>
  </table>
  <p class="s-paragraph">※各項目は聖騎士Lv、スキル、アビリティ、奥義、絆、覚醒、を最大育成し、パッシブ効果を加えた能力値です。</p>
  <% if (page['merit']) { %>
    <h2 class="s-header--2"><%- page['name'] %>の評価</h2>
    <table class="s-table rank-table">
      <tr><th class="rank-th">評価</th></tr>
      <tr><td class="<%= page['rank_class'] %>"><span class="rank"><%= page['rank_text'] %></span>ランク</td></tr>
    </table>
    <h3 class="s-header--3"><%- page['name'] %>の強み・弱み</h3>
    <table class="s-table">
      <tr><th class="rank-th"><%- page['name'] %>の<span style="color:red">強み</span></th></tr>
      <% for (const merit of page['merit']) { %>
      <tr><td><%- merit.replace(/,/ig, "<br>") %></td></tr>
      <% } %>
      <tr><th class="rank-th"><%- page['name'] %>の<span style="color:blue">弱み</span></th></tr>
      <% for (const demerit of page['demerit']) { %>
        <tr><td><%- demerit.replace(/,/ig, "<br>") %></td></tr>
      <% } %>
    </table>
  <% } %>
</div>
