<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="<%= baseUrl %>/img/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="<%= baseUrl %>/img/apple-touch-icon-180x180.png" sizes="180x180">
  <link rel="icon" type="image/webp" href="<%= baseUrl %>/img/android-chrome-192x192.png" sizes="192x192"> 

  <title><%= page['title'] %> | 巨乳解体</title>

  <meta property="og:locale" content="ja_JP" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="<%= page['title'] %> | 巨乳解体" />
  <meta property="og:description" content="<%= page['description'] %>" />
  <meta property="og:site_name" content="巨乳解体" />
  <!--<meta property="og:image" content="<%= baseUrl %>/img/common/ogp.jpg">-->
  <meta name="description" content="<%= page['description'] %>" />
  <meta name="keywords" content="<%= page['keywords'] %>">

  <link rel="stylesheet" type="text/css" href="<%= baseUrl %>/css/style.css">
</head>
<%
const currentLang = page.lang;
const supportedLangs = page.supportedLangs;
const langUtil = page.langUtil; 
const t = page.t; 
const isDetailPage = page.isDetailPage || false; 
%>
<body>
<div id="top-nav-row">
    
    <div id="breadcrumb">
        <div id="breadcrumb-in">
            
            <% if (isDetailPage) { %>
                
                <div>
                    <a href="<%= parentUrl %>"><%- page.parent_title %></a>
                    <span class="arrow"></span>
                </div>
                
                <div><span id="bread_now"><%- page['name'] %></span></div>
                
            <% } else { %>
                
                <div>
                    <span id="bread_now"><%- t('breadcrumb-list_title') %></span>
                </div>
                
            <% } %>
        </div>
    </div>
    
    <nav class="lang-switcher">
        <ul>
            <% supportedLangs.forEach(lang => { %>
                <% if (lang.code !== currentLang) { %>
                    <li>
                        <a href="<%= langUtil.getSwitchLink(lang.code) %>" lang="<%= lang.code %>" title="<%= lang.name %>">
                            <span class="flag-icon flag-<%= lang.code %>"></span>
                            <span class="lang-text"><%= lang.name %></span>
                        </a>
                    </li>
                <% } else { %>
                    <li class="active-lang">
                        <span class="flag-icon flag-<%= lang.code %>"></span>
                        <span class="lang-text"><%= lang.name %></span>
                    </li>
                <% } %>
            <% }); %>
        </ul>
    </nav>
    
</div>