<div id="wrapper" class="style-wrapper">
    <h2 class="s-header--2">聖騎士一覧</h2>
    <table class="filter_table s-table">
        <tbody>
            <tr><th>レア</th>
            <td>
                <ul class="filter_container" data-filter="rare" data-count="3">
                    <li data-val="SSR" data-check="0"><div>SSR</div></li>
                    <li data-val="SR" data-check="0"><div>SR</div></li>
                    <li data-val="R" data-check="0"><div>R</div></li>
                </ul>
            </td></tr>
            <tr><th>役割</th>
            <td>
                <ul class="filter_container" data-filter="role_set" data-count="3">
                    <li data-val="タンク" data-check="0"><div>タンク</div></li>
                    <li data-val="アタック" data-check="0"><div>アタック</div></li>
                    <li data-val="サポート" data-check="0"><div>サポート</div></li>
                </ul>
            </td></tr>           
            <tr><th>属性</th>
            <td>
                <ul class="filter_container" data-filter="attr" data-count="6">
                    <li data-val="火" data-check="0"><div>火</div></li>
                    <li data-val="水" data-check="0"><div>水</div></li>
                    <li data-val="風" data-check="0"><div>風</div></li>
                    <li data-val="聖" data-check="0"><div>聖</div></li>
                    <li data-val="魔" data-check="0"><div>魔</div></li>
                    <li data-val="想" data-check="0"><div>想</div></li>
                </ul>
            </td></tr>
            <tr><th>攻撃タイプ</th>
            <td>
                <ul class="filter_container" data-filter="atk_attr" data-count="2">
                    <li data-val="物理" data-check="0"><div>物理攻撃</div></li>
                    <li data-val="魔法" data-check="0"><div>魔法攻撃</div></li>
                </ul>
            </td></tr>
            <tr><th>奥義</th>
            <td>
                <ul class="filter_container" data-filter="ub_type" data-count="26">

                <li data-val="<%= def['単体攻撃'] %>" data-check="0"><div>単体攻撃</div></li>
                <li data-val="<%= def['複数攻撃'] %>" data-check="0"><div>複数攻撃</div></li>
                <li data-val="<%= def['六人攻撃'] %>" data-check="0"><div>6人攻撃</div></li>
                <li data-val="<%= def['全体攻撃'] %>" data-check="0"><div>全体攻撃</div></li>
                <li data-val="<%= def['バフのみ'] %>" data-check="0"><div>バブのみ</div></li>

                <li data-val="<%= def['HP回復'] %>" data-check="0"><div>HP回復</div></li>
                <li data-val="<%= def['MP回復'] %>" data-check="0"><div>MP回復</div></li>
                <li data-val="<%= def['物理攻撃UP'] %>,<%= def['魔法攻撃UP'] %>" data-check="0"><div>攻撃UP</div></li>
                <li data-val="<%= def['物理クリティカルUP'] %>,<%= def['魔法クリティカルUP'] %>" data-check="0"><div>クリティカルUP</div></li>
                <li data-val="<%= def['行動速度UP'] %>" data-check="0"><div>行動速度UP</div></li>

                <li data-val="<%= def['属性攻撃UP'] %>" data-check="0"><div>◯属性攻撃UP</div></li>
                <li data-val="<%= def['回数付ダメージUP'] %>,<%= def['回数付物理ダメージUP'] %>,<%= def['回数付魔法ダメージUP'] %>" data-check="0"><div>回数付ダメージUP</div></li>
                <li data-val="<%= def['ダメージUP'] %>" data-check="0"><div>ダメージUP</div></li>
                <li data-val="<%= def['挑発'] %>" data-check="0"><div>挑発</div></li>
                <li data-val="<%= def['デバフ耐性'] %>" data-check="0"><div>デバフ耐性</div></li>

                <li data-val="<%= def['物理防御DOWN'] %>,<%= def['魔法防御DOWN'] %>" data-check="0"><div>防御DOWN</div></li>
                <li data-val="<%= def['行動速度DOWN'] %>" data-check="0"><div>行動速度DOWN</div></li>
                <li data-val="<%= def['被ダメージUP'] %>" data-check="0"><div>被ダメージUP</div></li>
                <li data-val="<%= def['毒'] %>,<%= def['火傷'] %>,<%= def['凍結'] %>,<%= def['出血'] %>,<%= def['沈黙'] %>,<%= def['解消'] %>,<%= def['麻痺'] %>,<%= def['睡眠'] %>,<%= def['石化'] %>,<%= def['眩暈'] %>,<%= def['混乱'] %>,<%= def['魅了'] %>,<%= def['呪い'] %>,<%= def['盲目'] %>,<%= def['恐怖'] %>,<%= def['解消'] %>" data-check="0"><div>状態異常</div></li>
                <li data-val="<%= def['自身MP回復'] %>" data-check="0"><div>自MP回復</div></li>

                <li data-val="<%= def['自身物理攻撃UP'] %>,<% def['自身魔法攻撃UP'] %>" data-check="0"><div>自攻撃UP</div></li>
                <li data-val="<%= def['自身物理クリティカルUP'] %>,<%= def['自身魔法クリティカルUP'] %>" data-check="0"><div>自クリUP</div></li>
                <li data-val="<%= def['自身行動速度UP'] %>" data-check="0"><div>自行動速度UP</div></li>
                <li data-val="<%= def['自身属性攻撃UP'] %>" data-check="0"><div>自属性攻撃UP</div></li>
                <li data-val="<%= def['自身回数付ダメージUP'] %>,<%= def['自身回数付物理ダメージUP'] %>,<%= def['自身回数付魔法ダメージUP'] %>" data-check="0"><div>自回数付ダメUP</div></li>

                <li data-val="<%= def['自身ダメージUP'] %>,<%= def['自身条件付ダメージUP'] %>" data-check="0"><div>自ダメージUP</div></li>
                </ul>
            </td>
            </tr>
            <tr><th>スキル</th>
            <td>
                <ul class="filter_container" data-filter="sk_type" data-count="28">

                    <li data-val="<%= def['W攻撃'] %>" data-check="0"><div>W攻撃</div></li>
                    <li data-val="<%= def['バフのみ'] %>" data-check="0"><div>バフのみ</div></li>
                    <li data-val="<%= def['MP回復'] %>" data-check="0"><div>MP回復</div></li>
                    <li data-val="<%= def['物理攻撃UP'] %>,<%= def['魔法攻撃UP'] %>" data-check="0"><div>攻撃UP</div></li>
                    <li data-val="<%= def['物理クリティカルUP'] %>,<%= def['魔法クリティカルUP'] %>" data-check="0"><div>クリティカルUP</div></li>

                    <li data-val="<%= def['行動速度UP'] %>" data-check="0"><div>行動速度UP</div></li>
                    <li data-val="<%= def['スキルダメージUP'] %>" data-check="0"><div>スキルダメージUP</div></li>
                    <li data-val="<%= def['奥義ダメージUP'] %>" data-check="0"><div>奥義ダメージUP</div></li>
                    <li data-val="<%= def['属性攻撃UP'] %>" data-check="0"><div>◯属性攻撃UP</div></li>
                    <li data-val="<%= def['回数付ダメージUP'] %>,<%= def['回数付物理ダメージUP'] %>,<%= def['回数付魔法ダメージUP'] %>" data-check="0"><div>回数付ダメージUP</div></li>

                    <li data-val="<%= def['ダメージUP'] %>" data-check="0"><div>ダメージUP</div></li>
                    <li data-val="<%= def['挑発'] %>" data-check="0"><div>挑発</div></li>
                    <li data-val="<%= def['デバフ耐性'] %>" data-check="0"><div>デバフ耐性</div></li>
                    <li data-val="<%= def['物理防御DOWN'] %>,<%= def['魔法防御DOWN'] %>" data-check="0"><div>防御DOWN</div></li>
                    <li data-val="<%= def['行動速度DOWN'] %>" data-check="0"><div>行動速度DOWN</div></li>

                    <li data-val="<%= def['被ダメージUP'] %>" data-check="0"><div>被ダメージUP</div></li>
                    <li data-val="<%= def['挑発耐性'] %>" data-check="0"><div>挑発耐性</div></li>
                    <li data-val="<%= def['毒'] %>,<%= def['火傷'] %>,<%= def['凍結'] %>,<%= def['出血'] %>,<%= def['沈黙'] %>,<%= def['解消'] %>,<%= def['麻痺'] %>,<%= def['睡眠'] %>,<%= def['石化'] %>,<%= def['眩暈'] %>,<%= def['混乱'] %>,<%= def['魅了'] %>,<%= def['呪い'] %>,<%= def['盲目'] %>,<%= def['恐怖'] %>,<%= def['解消'] %>" data-check="0"><div>状態異常</div></li>
                    <li data-val="<%= def['自身MP回復'] %>" data-check="0"><div>自MP回復</div></li>
                    <li data-val="<%= def['自身物理攻撃UP'] %>,<%= def['自身魔法攻撃UP'] %>" data-check="0"><div>自攻撃UP</div></li>

                    <li data-val="<%= def['自身物理クリティカルUP'] %>,<%= def['自身魔法クリティカルUP'] %>" data-check="0"><div>自クリUP</div></li>
                    <li data-val="<%= def['自身行動速度UP'] %>" data-check="0"><div>自行動速度UP</div></li>
                    <li data-val="<%= def['自身スキルダメージUP'] %>" data-check="0"><div>自スキルダメUP</div></li>
                    <li data-val="<%= def['自身奥義ダメージUP'] %>" data-check="0"><div>自奥義ダメUP</div></li>
                    <li data-val="<%= def['自身属性攻撃UP'] %>" data-check="0"><div>自属性攻撃UP</div></li>

                    <li data-val="<%= def['自身回数付ダメージUP'] %>,<%= def['自身回数付物理ダメージUP'] %>,<%= def['自身回数付魔法ダメージUP'] %>" data-check="0"><div>自回数付ダメUP</div></li>
                    <li data-val="<%= def['自身ダメージUP'] %>,<%= def['自身条件付ダメージUP'] %>" data-check="0"><div>自ダメージUP</div></li>
                    <li data-val="<%= def['自身デバフ耐性'] %>" data-check="0"><div>自デバフ耐性</div></li>
                </ul>
            </td>
            </tr>
            <tr><th>武器</th>
            <td>
                <ul class="filter_container" data-filter="equip_type" data-count="5">
                    <li data-val="斬" data-check="0"><div>斬</div></li>
                    <li data-val="打" data-check="0"><div>打</div></li>
                    <li data-val="突" data-check="0"><div>突</div></li>
                    <li data-val="射" data-check="0"><div>射</div></li>
                    <li data-val="投" data-check="0"><div>投</div></li>
                </ul>
            </td></tr>
            <tr><th>サポート</th>
            <td>
                <ul class="filter_container" data-filter="support" data-count="6">
                    <li data-val="最大HP" data-check="0"><div>HP+</div></li>
                    <li data-val="物理攻撃,魔法攻撃" data-check="0"><div>攻撃+</div></li>
                    <li data-val="物理防御,魔法防御" data-check="0"><div>防御+</div></li>
                    <li data-val="物理クリティカル,魔法クリティカル" data-check="0"><div>クリティカル+</div></li>
                    <li data-val="命中" data-check="0"><div>命中+</div></li>
                    <li data-val="ブロック" data-check="0"><div>ブロック+</div></li>
                </ul>
            </td>
            </tr>
            <tr><th>行動速度</th>
            <td>
                <ul class="filter_container" data-filter="atk_speed" data-count="5">
                    <li data-val="早い" data-check="0"><div>早い</div></li>
                    <li data-val="やや早い" data-check="0"><div>やや早い</div></li>
                    <li data-val="普通" data-check="0"><div>普通</div></li>
                    <li data-val="やや遅い" data-check="0"><div>やや遅い</div></li>
                    <li data-val="遅い" data-check="0"><div>遅い</div></li>
                </ul>
            </td></tr>
            <tr><th>召喚</th>
            <td>
                <ul class="filter_container" data-filter="gacha_type" data-count="10">
                    <li data-val="恒常" data-check="0"><div>恒常</div></li>
                    <li data-val="イベント" data-check="0"><div>限定イベント</div></li>
                    <li data-val="バーストフェス" data-check="0"><div>バーストフェス</div></li>
                    <li data-val="無限討伐戦" data-check="0"><div>無限討伐戦</div></li>
                    <li data-val="疾走討伐戦" data-check="0"><div>疾走討伐戦</div></li>
                    <li data-val="試練の塔" data-check="0"><div>試練の塔</div></li>
                    <li data-val="同盟戦" data-check="0"><div>同盟戦</div></li>
                    <li data-val="Fanzine" data-check="0"><div>Fanzine</div></li>
                    <li data-val="シーズンパス" data-check="0"><div>シーズンパス</div></li>
                    <li data-val="報酬" data-check="0"><div>イベント配布など</div></li>
                </ul>
            </td></tr>
            <tr><th>実装年</th>
            <td>
                <ul class="filter_container" data-filter="added_year" data-count="3">
                    <li data-val="2025" data-check="0"><div>2025</div></li>
                    <li data-val="2024" data-check="0"><div>2024</div></li>
                    <li data-val="2023" data-check="0"><div>2023</div></li>
                </ul>
            </td></tr>
        </tbody>
    </table>

    <ul class="tab_container" data-length="4">
        <li data-tab="レア" data-check="1">レア別</li>
        <li data-tab="実装順" data-check="0">実装順</li>
        <li data-tab="隊列順" data-check="0">隊列順</li>
        <li data-tab="Tier順" data-check="0">Tier順</li>
    </ul>
    <table class="s-table">
        <tbody>
<%-
    include('./_order_by_rare.ejs', {
        baseUrl: baseUrl,
        page: json
    });
%>
<%-
    include('./_order_by_no.ejs', {
        baseUrl: baseUrl,
        page: json
    });
%>
<%-
    include('./_order_by_range.ejs', {
        baseUrl: baseUrl,
        page: json
    });
%>
<%-
    include('./_order_by_tier.ejs', {
        baseUrl: baseUrl,
        page: json
    });
%>
        </tbody>
    </table>
    <script>
        $(document).ready(function() {

            $(".filter_container > li").click(function() {
                var current_check = $(this).attr("data-check");
                if (current_check == 0) {
                    $(this).attr("data-check", 1);
                } else {
                    $(this).attr("data-check", 0);
                }
                hero_search();
            });


            function hero_search() {
                var conditions = {};
                $(".filter_container").each(function() {
                    var current_key = $(this).data("filter");
                    $(this).find("li[data-check='1']").each(function() {
                        if (conditions[current_key] == undefined) {
                            conditions[current_key] = [];
                        }
                        if (current_key === "support" || current_key === "sk_type") {
                            // conditions[current_key]のデータ構造: ボタンごとの集合 [[0], [1,2], [3,4,5]]
                            conditions[current_key].push(String($(this).data("val")).split(","));
                        } else {
                            // conditions[current_key]のデータ構造: 通常 [0, 1, 2, 3, 4]
                            Array.prototype.push.apply(conditions[current_key], String($(this).data("val")).split(","));
                        }
                    })
                });

                var total_count = 0;

                $(".hero_container").each(function() {
                    var container_val = $(this).data("val");

                    var disp_count = 0;

                    $(this).find("li").each(function() {
                        var disp_bool = true;
                        for (const type in conditions) {
                            let current_data = decodeURIComponent(($(this).data(type)));
                            if (type == "gacha_type" || type == "ub_type") {
                                current_data = current_data.split(',');
                                let attr_count = 0;
                                for (const i in current_data) {
                                    if (conditions[type].indexOf(current_data[i]) != -1) {
                                        attr_count++;
                                        break;
                                    }
                                }
                                if (attr_count == 0) {
                                    disp_bool = false;
                                    break;
                                }
                            } 
                            else if (type == "support" || type == "sk_type") {
                                current_data = current_data.split(',');
                                let attr_count = 0;
                                // ブロック/ブロックをattr_count=1にするためにこう走査する
                                for (const n in conditions[type]) {
                                    for (const i in current_data) {
                                        if (conditions[type][n].indexOf(current_data[i]) != -1) {
                                            attr_count++;
                                            break;
                                        }
                                    }
                                }

                                if (attr_count < conditions[type].length) {
                                    disp_bool = false;
                                    break;
                                }
                            }
                            else {
                                if (conditions[type].indexOf(current_data) == -1) {
                                    disp_bool = false;
                                    break;
                                }
                            }
                        }
                        if (disp_bool) {
                            $(this).attr("data-disp", 1);
                            disp_count++;
                        } else {
                            $(this).attr("data-disp", 0);
                        }
                    });

                    if (container_val != undefined) {
                        var container_tab = $(this).data("tab");

                        var tab_select = "";
                        if (container_tab != undefined) {
                            tab_select = "[data-tab='"+container_tab+"']";
                        }
                        if (disp_count == 0) {
                            $(".hero_tr"+tab_select+"[data-val='"+container_val+"']").attr("data-disp_val", 0);
                        } else {
                            $(".hero_tr"+tab_select+"[data-val='"+container_val+"']").attr("data-disp_val", 1);
                        }
                    }
                    total_count += disp_count;
                });

                if (total_count == 0) {
                    $(".no_result").show();
                } else {
                    $(".no_result").hide();
                }
            }

            $(".tab_container > li").click(function() {
                var current_check = $(this).attr("data-check");
                if (current_check == 0) {
                    $(this).attr("data-check", 1);
                    $(this).siblings().attr("data-check", 0);

                    var current_tab = $(this).data("tab");

                    $(".hero_tr").each(function() {
                        if ($(this).data("tab") === current_tab) {
                            $(this).attr("data-disp_tab", 1);
                        } else {
                            $(this).attr("data-disp_tab", 0);
                        }
                    });
                }
            });
        });

        $(".tab_container > li:first-child").trigger("click");
    </script>
</div>
