<% const tierNames = ["E-", "E", "E+", "D-", "D", "D+", "C-", "C", "C+", "B-", "B", "B+", "A-", "A", "A+", "S-", "S", "S+", "SS", "SSS"]; %>
<% page.heros.sort((a, b) => tierNames.indexOf(b.rank) - tierNames.indexOf(a.rank)); %>
<% for (let i = 0; i < page.heros.length;) { %>
    <% let item = page.heros[i]; %>    
    <% const cur_rank = item.rank; %>
<tr class="hero_tr" data-val="<%= cur_rank %>" data-tab="Tier順" data-disp_tab="0" data-disp_val="1">
    <th><%= item.rank %></th>
</tr>
<tr class="hero_tr" data-val="<%= cur_rank %>" data-tab="Tier順" data-disp_tab="0" data-disp_val="1">
    <td>
        <ul class="hero_container" data-val="<%= cur_rank %>" data-tab="Tier順">
    <% for (; i < page.heros.length && page.heros[i].rank === cur_rank; i++) { %>
        <% item = page.heros[i]; %>
        <li data-disp="1" data-rare="<%= item.rare %>" data-role_set="<%= item.role_set %>" data-attr="<%= item.attr %>" data-atk_attr="<%= item.atk_attr %>" data-equip_type="<%= item.equip_type %>" data-atk_speed="<%= item.atk_speed %>" data-gacha_type="<%= item.gacha_type %>" data-added_year="<%= new Date(item.added_date).getFullYear() %>" data-ub_type="<%= item.ub_type %>" data-support="<%= item.support %>"><a class="s-link" href="./hero/<%= item.id %>.html"><img src="./img/s/<%= item.id %>.png" class="s-img" alt="<%= item.altname %>の画像"><%- item.name %></a></li>
    <% } %>
        </ul>
    </td>
</tr>
<% } %>