<% const sk_buttons = [
    ["Wæ”»æ’ƒ", "Wæ”»æ’ƒ"],
    ["ãƒãƒ•ã®ã¿", "ãƒãƒ•ã®ã¿"],
    ["é€Ÿåº¦UPâ‘ ã®ã¿", "è¡Œå‹•é€Ÿåº¦UP_A"],
    ["é€Ÿåº¦UPâ‘¡ã®ã¿", "è¡Œå‹•é€Ÿåº¦UP_B"],

    ["MPå›žå¾©ðŸ‘¥", "MPå›žå¾©"],
    ["æ”»æ’ƒUPðŸ‘¥", "ç‰©ç†æ”»æ’ƒUP,é­”æ³•æ”»æ’ƒUP"],
    ["ã‚¯ãƒªUPðŸ‘¥", "ç‰©ç†ã‚¯ãƒªãƒ†ã‚£ã‚«ãƒ«UP,é­”æ³•ã‚¯ãƒªãƒ†ã‚£ã‚«ãƒ«UP"],
    ["é€Ÿåº¦UPðŸ‘¥", "è¡Œå‹•é€Ÿåº¦UP"],
    ["ã‚¹ã‚­ãƒ«ãƒ€ãƒ¡UPðŸ‘¥", "ã‚¹ã‚­ãƒ«ãƒ€ãƒ¡ãƒ¼ã‚¸UP"],
    ["å¥¥ç¾©ãƒ€ãƒ¡UPðŸ‘¥", "å¥¥ç¾©ãƒ€ãƒ¡ãƒ¼ã‚¸UP"],
    ["å±žæ€§æ”»æ’ƒUPðŸ‘¥", "å±žæ€§æ”»æ’ƒUP"],
    ["å›žæ•°ä»˜ãƒ€ãƒ¡UPðŸ‘¥", "å›žæ•°ä»˜ãƒ€ãƒ¡ãƒ¼ã‚¸UP,å›žæ•°ä»˜ç‰©ç†ãƒ€ãƒ¡ãƒ¼ã‚¸UP,å›žæ•°ä»˜é­”æ³•ãƒ€ãƒ¡ãƒ¼ã‚¸UP"],
    ["ãƒ€ãƒ¡UPðŸ‘¥", "ãƒ€ãƒ¡ãƒ¼ã‚¸UP"],
    ["ãƒ‡ãƒãƒ•è€æ€§ðŸ‘¥", "ãƒ‡ãƒãƒ•è€æ€§"],

    ["MPå›žå¾©ðŸ‘¤", "è‡ªèº«MPå›žå¾©"],
    ["æ”»æ’ƒUPðŸ‘¤", "è‡ªèº«ç‰©ç†æ”»æ’ƒUP,è‡ªèº«é­”æ³•æ”»æ’ƒUP"],
    ["ã‚¯ãƒªUPðŸ‘¤", "è‡ªèº«ç‰©ç†ã‚¯ãƒªãƒ†ã‚£ã‚«ãƒ«UP,è‡ªèº«é­”æ³•ã‚¯ãƒªãƒ†ã‚£ã‚«ãƒ«UP"],
    ["é€Ÿåº¦UPðŸ‘¤", "è‡ªèº«è¡Œå‹•é€Ÿåº¦UP"],
    ["ã‚¹ã‚­ãƒ«ãƒ€ãƒ¡UPðŸ‘¤", "è‡ªèº«ã‚¹ã‚­ãƒ«ãƒ€ãƒ¡ãƒ¼ã‚¸UP"],
    ["å¥¥ç¾©ãƒ€ãƒ¡UPðŸ‘¤", "è‡ªèº«å¥¥ç¾©ãƒ€ãƒ¡ãƒ¼ã‚¸UP"],
    ["å±žæ€§æ”»æ’ƒUPðŸ‘¤", "è‡ªèº«å±žæ€§æ”»æ’ƒUP"],
    ["å›žæ•°ä»˜ãƒ€ãƒ¡UPðŸ‘¤", "è‡ªèº«å›žæ•°ä»˜ãƒ€ãƒ¡ãƒ¼ã‚¸UP,è‡ªèº«å›žæ•°ä»˜ç‰©ç†ãƒ€ãƒ¡ãƒ¼ã‚¸UP,è‡ªèº«å›žæ•°ä»˜é­”æ³•ãƒ€ãƒ¡ãƒ¼ã‚¸UP"],
    ["ãƒ€ãƒ¡UPðŸ‘¤", "è‡ªèº«ãƒ€ãƒ¡ãƒ¼ã‚¸UP,è‡ªèº«æ¡ä»¶ä»˜ãƒ€ãƒ¡ãƒ¼ã‚¸UP"],
    ["ãƒ‡ãƒãƒ•è€æ€§ðŸ‘¤", "è‡ªèº«ãƒ‡ãƒãƒ•è€æ€§"],
    ["æŒ‘ç™ºè€æ€§ðŸ‘¤", "æŒ‘ç™ºè€æ€§"],

    ["æŒ‘ç™ºðŸ‘¹", "æŒ‘ç™º"],
    ["é˜²å¾¡DOWNðŸ‘¹", "ç‰©ç†é˜²å¾¡DOWN,é­”æ³•é˜²å¾¡DOWN"],
    ["é€Ÿåº¦DOWNðŸ‘¹", "è¡Œå‹•é€Ÿåº¦DOWN"],
    ["è¢«ãƒ€ãƒ¡UPðŸ‘¹", "è¢«ãƒ€ãƒ¡ãƒ¼ã‚¸UP"],
    ["çŠ¶æ…‹ç•°å¸¸ðŸ‘¹", "æ¯’,ç«å‚·,å‡çµ,å‡ºè¡€,æ²ˆé»™,è§£æ¶ˆ,éº»ç—º,ç¡çœ ,çŸ³åŒ–,çœ©æšˆ,æ··ä¹±,é­…äº†,å‘ªã„,ç›²ç›®,ææ€–,è§£æ¶ˆ"],
    ["é€Ÿåº¦DOWNâ‘ ã®ã¿ðŸ‘¹", "è¡Œå‹•é€Ÿåº¦DOWN_A"],
    ["é€Ÿåº¦DOWNâ‘¡ã®ã¿ðŸ‘¹", "è¡Œå‹•é€Ÿåº¦DOWN_B"],
];
%>
<div class="target-container" id="sk-target-container">
    <span class="target-label">å¯¾è±¡:</span>
    <div class="target-selector">
        <button class="target-button" data-range="self">ðŸ‘¤è‡ªèº«</button>
        <button class="target-button active" data-range="all">ðŸ‘¥å‘³æ–¹</button>
        <button class="target-button" data-range="enemy">ðŸ‘¹æ•µ</button>
    </div>
</div>
<ul class="filter_container" data-filter="sk_type" data-count="<%= sk_buttons.length %>">
    <% for (const button of sk_buttons) {
        const val = button[1].split(",").map(x => def[x]).join(",");
        let range = "";
        let initStyle = "";
        if (button[0].includes("ðŸ‘¤")) {
            range = 'self';
            initStyle = "style='display: none;'"
        } else if (button[0].includes("ðŸ‘¥")) {
            range = 'all';
        } else if (button[0].includes("ðŸ‘¹")) {
            range = 'enemy';
            initStyle = "style='display: none;'"
        }

        const name = button[0].replace(/ðŸ‘¤|ðŸ‘¥|ðŸ‘¹/g, '');
    %>
        <% if (range !== "") { %>
        <li data-range="<%= range %>" data-name="<%= name %>" data-val="<%= val %>" data-check="0" <%- initStyle %>><div><%= button[0] %></div></li>
        <% } else { %>
        <li data-val="<%= val %>" data-check="0"><div><%= button[0] %></div></li>
        <% } %>
    <% } %>
</ul>