<% const ub_buttons = [
    ["å˜ä½“æ”»æ’ƒ", "å˜ä½“æ”»æ’ƒ"],
    ["è¤‡æ•°æ”»æ’ƒ", "è¤‡æ•°æ”»æ’ƒ"],
    ["6äººæ”»æ’ƒ", "å…­äººæ”»æ’ƒ"],
    ["å…¨ä½“æ”»æ’ƒ", "å…¨ä½“æ”»æ’ƒ"],
    ["ãƒãƒ–ã®ã¿", "ãƒãƒ•ã®ã¿"],

    ["ðŸ‘¥HPå›žå¾©", "HPå›žå¾©"],
    ["ðŸ‘¥MPå›žå¾©", "MPå›žå¾©"],
    ["ðŸ‘¥æ”»æ’ƒâ¬†", "ç‰©ç†æ”»æ’ƒUP,é­”æ³•æ”»æ’ƒUP"],
    ["ðŸ‘¥ã‚¯ãƒªâ¬†", "ç‰©ç†ã‚¯ãƒªãƒ†ã‚£ã‚«ãƒ«UP,é­”æ³•ã‚¯ãƒªãƒ†ã‚£ã‚«ãƒ«UP"],
    ["ðŸ‘¥é€Ÿåº¦â¬†", "è¡Œå‹•é€Ÿåº¦UP"],
    ["ðŸ‘¥å±žæ€§æ”»æ’ƒâ¬†", "å±žæ€§æ”»æ’ƒUP"],
    ["ðŸ‘¥å›žæ•°ä»˜ãƒ€ãƒ¡â¬†", "å›žæ•°ä»˜ãƒ€ãƒ¡ãƒ¼ã‚¸UP,å›žæ•°ä»˜ç‰©ç†ãƒ€ãƒ¡ãƒ¼ã‚¸UP,å›žæ•°ä»˜é­”æ³•ãƒ€ãƒ¡ãƒ¼ã‚¸UP"],
    ["ðŸ‘¥ãƒ€ãƒ¡â¬†", "ãƒ€ãƒ¡ãƒ¼ã‚¸UP"],
    ["ðŸ‘¥ãƒ‡ãƒãƒ•è€æ€§", "ãƒ‡ãƒãƒ•è€æ€§"],

    ["ðŸ‘¤MPå›žå¾©", "è‡ªèº«MPå›žå¾©"],
    ["ðŸ‘¤æ”»æ’ƒâ¬†", "è‡ªèº«ç‰©ç†æ”»æ’ƒUP,è‡ªèº«é­”æ³•æ”»æ’ƒUP"],
    ["ðŸ‘¤ã‚¯ãƒªâ¬†", "è‡ªèº«ç‰©ç†ã‚¯ãƒªãƒ†ã‚£ã‚«ãƒ«UP,è‡ªèº«é­”æ³•ã‚¯ãƒªãƒ†ã‚£ã‚«ãƒ«UP"],
    ["ðŸ‘¤é€Ÿåº¦â¬†", "è‡ªèº«è¡Œå‹•é€Ÿåº¦UP"],
    ["ðŸ‘¤å±žæ€§æ”»æ’ƒâ¬†", "è‡ªèº«å±žæ€§æ”»æ’ƒUP"],
    ["ðŸ‘¤å›žæ•°ä»˜ãƒ€ãƒ¡â¬†", "è‡ªèº«å›žæ•°ä»˜ãƒ€ãƒ¡ãƒ¼ã‚¸UP,è‡ªèº«å›žæ•°ä»˜ç‰©ç†ãƒ€ãƒ¡ãƒ¼ã‚¸UP,è‡ªèº«å›žæ•°ä»˜é­”æ³•ãƒ€ãƒ¡ãƒ¼ã‚¸UP"],
    ["ðŸ‘¤ãƒ€ãƒ¡â¬†", "è‡ªèº«ãƒ€ãƒ¡ãƒ¼ã‚¸UP,è‡ªèº«æ¡ä»¶ä»˜ãƒ€ãƒ¡ãƒ¼ã‚¸UP"],

    ["ðŸ‘¹æŒ‘ç™º", "æŒ‘ç™º"],
    ["ðŸ‘¹é˜²å¾¡â¬‡", "ç‰©ç†é˜²å¾¡DOWN,é­”æ³•é˜²å¾¡DOWN"],
    ["ðŸ‘¹é€Ÿåº¦â¬‡", "è¡Œå‹•é€Ÿåº¦DOWN"],
    ["ðŸ‘¹è¢«ãƒ€ãƒ¡â¬†", "è¢«ãƒ€ãƒ¡ãƒ¼ã‚¸UP"],
    ["ðŸ‘¹çŠ¶æ…‹ä»˜ä¸Ž", "æ¯’,ç«å‚·,å‡çµ,å‡ºè¡€,æ²ˆé»™,è§£æ¶ˆ,éº»ç—º,ç¡çœ ,çŸ³åŒ–,çœ©æšˆ,æ··ä¹±,é­…äº†,å‘ªã„,ç›²ç›®,ææ€–,è§£æ¶ˆ"],

]; 
%>
<ul class="filter_container" data-filter="ub_type" data-count="<%= ub_buttons.length %>">
    <div class="target-container target-cell" id="ub-target-container">
        <span class="target-label">å¯¾è±¡:</span>
        <div class="target-selector">
            <button class="target-button" data-range="self">ðŸ‘¤è‡ªèº«</button>
            <button class="target-button" data-range="all">ðŸ‘¥å‘³æ–¹</button>
            <button class="target-button" data-range="enemy">ðŸ‘¹æ•µ</button>
        </div>
    </div>
    <% for (const button of ub_buttons) {
        const val = button[1].split(",").map(x => def[x]).join(",");
        let range = "";
        if (button[0].includes("ðŸ‘¤")) {
            range = 'self';
        } else if (button[0].includes("ðŸ‘¥")) {
            range = 'all';
        } else if (button[0].includes("ðŸ‘¹")) {
            range = 'enemy';
        }

        const name = button[0].replace(/ðŸ‘¤|ðŸ‘¥|ðŸ‘¹/g, '');

        const label = button[0]
        .replace(/â¬†/g, '<span class="arrow-mark up">â¬†</span>')
        .replace(/â¬‡/g, '<span class="arrow-mark down">â¬‡</span>');
    %>
        <% if (range !== "") { %>
        <li data-range="<%= range %>" data-name="<%= name %>" data-val="<%= val %>" data-check="0"><div><%- label %></div></li>
        <% } else { %>
        <li data-val="<%= val %>" data-check="0"><div><%- label %></div></li>
        <% } %>
    <% } %>
</ul>